.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.child-25 {
  align-self: auto;
  flex-shrink: 1;
  flex-basis: 25%;
}
