.container {
  display: flex;
}

.child-25 {
  flex-basis: 25%;
}

.yellow {
  color: #edcc39;
}

.green {
  color: #069623;
}

.chart-container {
  width: 50%;
  height: 50%;
  margin: auto;
}

.list-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
}

.undecorated {
  text-decoration: none;
  color: #ffffff;
}

.list-card {
  font-family: Arial;
  text-align: center;
  border: 2px outset;
  width: 18em;
  background-image: -webkit-linear-gradient(top, #00508a, #004a8a);
  color: #ffffff;
}

.list-card p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.viz-button {
  cursor: pointer;
  font-family: Arial;
  background: #3498db;
  border-radius: 8px;
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.action-button {
  cursor: pointer;
  font-family: Arial;
  background: #ff6666;
  border-radius: 14px;
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.action-button:hover {
  background: #c92424;
  background-image: -webkit-linear-gradient(top, #c92424, #b82b63);
  text-decoration: none;
}

.viz-button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  text-decoration: none;
}
